BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "U16";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "K18";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "J17";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "H18";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;


# --- Asignaciones HUB75 (Mi intento) ---

# Señales de control
LOCATE COMP     "LP_CLK" SITE "C17";
IOBUF PORT      "LP_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP     "LATCH" SITE "D1";
IOBUF PORT      "LATCH" IO_TYPE=LVCMOS33;

LOCATE COMP     "NOE" SITE "C1";
IOBUF PORT      "NOE" IO_TYPE=LVCMOS33;

# Señales de dirección de fila (ejemplo con 4 bits: A,B,C,D)
LOCATE COMP     "ROW[0]" SITE "E2";
LOCATE COMP     "ROW[1]" SITE "D2";
LOCATE COMP     "ROW[2]" SITE "C2";
LOCATE COMP     "ROW[3]" SITE "B1";
LOCATE COMP     "ROW[4]" SITE "A18";
IOBUF PORT      "ROW[4]" IO_TYPE=LVCMOS33;
IOBUF PORT      "ROW[0]" IO_TYPE=LVCMOS33;
IOBUF PORT      "ROW[1]" IO_TYPE=LVCMOS33;
IOBUF PORT      "ROW[2]" IO_TYPE=LVCMOS33;
IOBUF PORT      "ROW[3]" IO_TYPE=LVCMOS33;

# Datos RGB0 (R0, G0, B0)
LOCATE COMP     "RGB0[0]" SITE "E3";
LOCATE COMP     "RGB0[1]" SITE "A3";
LOCATE COMP     "RGB0[2]" SITE "C3";
IOBUF PORT      "RGB0[0]" IO_TYPE=LVCMOS33;
IOBUF PORT      "RGB0[1]" IO_TYPE=LVCMOS33;
IOBUF PORT      "RGB0[2]" IO_TYPE=LVCMOS33;

# Datos RGB1 (R1, G1, B1)
LOCATE COMP     "RGB1[0]" SITE "B4";
LOCATE COMP     "RGB1[1]" SITE "C4";
LOCATE COMP     "RGB1[2]" SITE "D3";
IOBUF PORT      "RGB1[0]" IO_TYPE=LVCMOS33;
IOBUF PORT      "RGB1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT      "RGB1[2]" IO_TYPE=LVCMOS33;